body 
{

        margin: 0;

        font-family: 'Arial', sans-serif;

    
    background-image: url('hero02.png');
    background-size: cover;
     height: 768px; 

}
 



.navbar {
  background-color: lightgray;
  overflow: auto;
  position: fixed;
  top:0;;
  width: 100%;
}


.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}


.navbar a:hover {
  background-color: darkred;
  color: black;
}


.navbar a.active {
  background-color: black;
  color: white;
}


}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: white;
}

.team {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.team-member {
    text-align: center;
    margin: 20px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

footer {
    text-align: center;
    padding: 20px;
    
    
    margin-top: 20px;
}

